@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --primary-color: #7868e6;
  --font-primary-color: #edeef7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  color: var(--font-primary-color);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--font-primary-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--font-primary-color) solid;
  font-weight: 600;
}

.navbar .flex {
  justify-content: space-between;
}

/* showcase */
.showcase {
  height: 25rem;
  color: var(--font-primary-color);
  position: relative;
}

.showcase h1 {
  font-size: 2.5rem;
}

.showcase h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
}

.showcase p {
  margin: 1.25rem 0;
}

.showcase .grid {
  grid-template-columns: 2fr 1fr;
  gap: 1.875rem;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 3.75rem;
  height: 21.875rem;
  width: 25rem;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  background-color: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #212121;
  width: 100%;
  outline: none;
  padding: 3px;
  font-size: 1rem;
}

/* wave */
.bg-hero {
  background: url("/images/wave.svg") no-repeat;
  background-size: cover;
  height: 62vh;
}

/* stats */
.stats {
  padding-top: 6.25rem;
}

.stats-heading {
  max-width: 31.25rem;
  font-weight: 400;
}

.stats img {
  width: 4rem;
}

.stats .grid h3 {
  font-size: 2rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
}
