@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100vw;
}

.navbar {
  background-color: #7868e6;
  color: #edeef7;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #edeef7;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #edeef7 solid;
  font-weight: 600;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  overflow: auto;
  height: 70px;
}

/* utility */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
