@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --primary-color: #7868e6;
  --secondary-color: #b8b5ff;
  --dark-color: #6155a6;
  --ligth-color: #edeef7;
  --ligth-color2: #e4fbff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  color: var(--ligth-color);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--ligth-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--ligth-color) solid;
  font-weight: 600;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo {
  font-family: "Poppins", sans-serif;
}

/* showcase */
.showcase {
  height: 25rem;
  color: var(--ligth-color);
  position: relative;
}

.showcase-text {
  animation: slideInFromLeft 0.8s ease-in;
}

.showcase h1 {
  font-size: 2.5rem;
}

.showcase h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
}

.showcase p {
  margin: 1.25rem 0;
}

.showcase .grid {
  grid-template-columns: 2fr 1fr;
  gap: 1.875rem;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 3.75rem;
  height: 21.875rem;
  width: 25rem;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 0.8s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  background-color: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #212121;
  width: 100%;
  outline: none;
  padding: 3px;
  font-size: 1rem;
}

/* wave */
.bg-hero {
  background: url("/images/wave.svg") no-repeat;
  background-size: cover;
  height: 80vh;
}

/* stats */
.stats {
  padding-top: 6.25rem;
}

.stats-heading {
  max-width: 31.25rem;
  font-weight: 600;
}

.stats img {
  width: 4rem;
}

.stats .grid h3 {
  font-size: 2rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Cli */
.cli {
  margin: 10rem 0;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli .grid img {
  width: 35vw;
  height: 20vh;
  object-fit: cover;
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languanges */
.languange {
  margin: 10rem 0;
}

.languange .flex {
  flex-wrap: wrap;
}

.languange .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: 0.5s;
}

.languange .card:hover {
  transform: translateY(-15px);
}

.languange img {
  height: 7rem;
  width: 8rem;
}

.languange h4 {
  font-size: 1.25rem;
  margin: 10px;
}

/* Features */
.features-head img,
.docs-head img {
  width: 12.5rem;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 18.75rem;
  justify-self: flex-end;
}

.features-main img {
  width: 12rem;
  margin-right: 1.5rem;
}

.features-main .grid {
  padding: 1.875rem;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* docs */
.docs-main nav li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* footer */
footer h1 {
  font-family: "Poppins", sans-serif;
}

footer .social a {
  margin: 0 10px;
}

footer .social img {
  width: 2rem;
}

/* Animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Tablet */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 2.5rem;
    animation: slideInFromTop 0.8s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 0.8s ease-in;
  }

  .showcase p {
    font-size: 1.25rem;
  }

  .stats {
    margin-top: 12rem;
  }

  .stats h3 {
    font-size: 1.5rem;
  }

  .cli .grid img {
    width: 80vw;
    margin-bottom: 2rem;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .languange img {
    width: 10rem;
  }

  footer li {
    font-size: 1.2rem;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 6.875rem;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .showcase-form {
    top: 1.5rem;
  }

  .showcase .card {
    width: 90vw;
  }

  .stats {
    margin-top: 12rem;
  }
}
