.container {
  max-width: 80vw;
  margin: 0 auto;
  height: 100%;
}

.card {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 0.875rem;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1.25rem;
  margin: 0.625rem;
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--font-primary-color);
  border: none;
  border-radius: 0.75rem;
  font-size: 0.875rem;
}

.btn-outline {
  background-color: transparent;
  border: 1px var(--font-primary-color) solid;
}

.btn:hover {
  transform: scale(0.98);
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: #7868e6;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Margin */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
